@use 'variables';

.card {
  height: 408px;
  width: 200px;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
  &__picture-field {
    margin-top: 32px;
    width: 160px;
    height: 134px;
  }
  &__picture {
    width: 160px;
    height: 134px;
  }
  &__name {
    margin-top: 40px;
    font-family: variables.$font-family;
    letter-spacing: variables.$font-spacing;
    color: variables.$darker-color;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }
  &__code {
    margin-top: 4px;
    align-self: flex-start;
    font-family: variables.$font-family;
    letter-spacing: variables.$font-spacing;
    color: variables.$lighter-color;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }
  &__rating {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__rating-revies {
    text-align: right;
    font-family: variables.$font-family;
    letter-spacing: variables.$font-spacing;
    color: variables.$darker-color;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__price {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__price-name {
    font-family: variables.$font-family;
    letter-spacing: variables.$font-spacing;
    color: variables.$lighter-color;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  &__price-amount {
    text-align: right;
    font-family: variables.$font-family;
    letter-spacing: variables.$font-spacing;
    color: variables.$darker-color;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    height: 40px;
    width: 100%;
    background-color: #00acdc;
    border-radius: 5px;
    color: white;
    font-family: variables.$font-family;
    letter-spacing: variables.$font-spacing;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #00acdc;
    &:hover {
      background-color: white;
      color: #00acdc;
    }
  }
}
