@use 'variables';

.card {
  height: 408px;
  width: variables.$card-width;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.card__picture {
  background-image: url('../images/imac.jpeg');
  width: variables.$card-width * 0.8;
  height: 134px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 32px;
}

.card__name {
  margin-top: 40px;
  width: variables.$card-width * 0.83;
  height: 36px;
  font-family: variables.$font-family;
  letter-spacing: variables.$font-spacing;
  color: variables.$darker-color;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__code {
  margin-top: 4px;
  margin-left: 16px;
  align-self: flex-start;
  width: variables.$card-width * 0.49;
  height: 14px;
  font-family: variables.$font-family;
  letter-spacing: variables.$font-spacing;
  color: variables.$lighter-color;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

.card__rating {
  margin-top: 16px;
  width: variables.$card-width * 0.83;
  display: flex;
  justify-content: space-between;
}

.card__rating-revies {
  height: 16px;
  width: 53px;
  text-align: right;
  font-family: variables.$font-family;
  letter-spacing: variables.$font-spacing;
  color: variables.$darker-color;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

.card__price {
  margin-top: 24px;
  width: variables.$card-width * 0.83;
  display: flex;
  justify-content: space-between;
}

.card__price-name {
  height: 18px;
  width: 31px;
  font-family: variables.$font-family;
  letter-spacing: variables.$font-spacing;
  color: variables.$lighter-color;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__price-amount {
  height: 18px;
  width: 50px;
  text-align: right;
  font-family: variables.$font-family;
  letter-spacing: variables.$font-spacing;
  color: variables.$darker-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 40px;
  width: variables.$card-width * 0.83;
  background-color: #00acdc;
  border-radius: 5px;
  color: white;
  font-family: variables.$font-family;
  letter-spacing: variables.$font-spacing;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.card__buy:hover {
  background-color: white;
  color: #00acdc;
  border: 1px solid #00acdc;
}
